body {
   height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.disabledRow {
  pointer-events: none;
  opacity: 0.4;
}


#gameBoard__container{
  margin-top:3rem;
   width:400px;
  height:400px;
   display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
   
}
#gameBoard__container > div {
  background-color: rgb(26, 209, 255);
  width:200px;
  height:200px;
  cursor:pointer;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
 
}


#gameBoard__container > div:hover {
background-color: rgb(255, 230, 0);

}